/***************************************/


/*GENERAL*/


/***************************************/

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    background-color: #B2B2B2;
    font-family: 'Open Sans', sans-serif;
    margin: -10px;
}

#wrapper {
    /*  Margin 0 is for all 4 sides,  */
    margin: 0 auto;
    /*  max-width is related to width. But instead of width, max-width that it can be smaller for mobile devices/tablets.  */
    max-width: 940px;
    /*  Values first one is top and botttom. Second one is left and right.  */
    padding: 0 5%;
}

header {}


/*My name and description of who we are/Kaelen Juntilla developer. Id's start with hashtags while classes start with a /dot/.  */

#logo {
    margin: 0;
    text-align: center;
}

h1 {
    font-family: 'Orbitron', cursive;
    font-size: 1.75em;
    margin: 15px 0;
}

h2 {
    font-family: 'Orbitron', cursive;
    font-size: 0.75em;
    font-weight: normal;
    /*  1st value is for the top. 2nd value is for left and right. 3rd value is for the bottom.  */
    margin: -5px 0 0;
}


/*This says  zero margin on the top, zero on the right, 1 on the bottom, 0 on the left*/

h3 {
    margin: 0 0 1em 0;
}

p {
    color: black;
    font-family: 'Orbitron', cursive;
}


/***************************************/


/*NAVIGATION*/


/***************************************/

nav {
    background-color: darkgreen;
    margin: 20px 0 0;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 10px 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding-left: 15px 10px;
    padding-left: 40px;
}


/***************************************/


/*FOOTER*/


/***************************************/

footer {
    color: #CCC;
    font-size: 0.75em;
    padding-top: 50px;
    text-align: center;
}

.social-media-icon {
    height: 20px;
    margin: 0 5px;
    width: 20px;
}


/*********************************************/


/*PAGE PORTFOLIO*/


/*********************************************/

#portfolioetc {
    font-family: 'Orbitron', cursive;
}

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery li {
    background-color: #B2B2B2;
    float: left;
    margin: 2.5%;
    width: 45%;
}

.portfoliopic {
    border-radius: 30px;
    height: 150px;
    width: 350px;
}


/*******************************************/


/*COLORS*/


/*******************************************/

a {
    color: #6AB47B;
}

header {
    background-color: #1A1A1A;
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

h1,
h2 {
    color: #fff;
    padding-left: 40px;
}


/*Pseudo class selector which gives a value to a class*/

nav a,
nav a:visited {
    color: crimson;
}

nav a.selected,
nav a:hover {
    color: lime;
}


/********************************************/


/*ABOUT ME */


/********************************************/

.profile-photo {
    border-radius: 15%;
    display: block;
    max-width: 0 auto 30px;
}

#left {
    background-color: #1A1A1A;
    border-radius: 5px;
    border-top: 5px solid black;
    float: left;
    height: 800px;
    margin-left: 10px;
    margin-top: -65px;
    width: 150px;
}

#self {
    border-radius: 30px;
}

#aboutme {
    font-size: 1.20em;
    margin: 15px 0 0 0;
    padding-right: 25px;
}

.aboutmeinfo {
    color: aliceblue;
    padding-left: 30px;
}

.aboutpic {
    border-radius: 50px;
    display: inline-block;
    height: 350px;
    margin-left: 30px;
    width: 350px;
}

#aboutmepic {
    border-radius: 35px;
    height: 300px;
    width: 100%;
}

#ptag {
    color: black;
    font-family: 'Orbitron', cursive;
    font-size: 20px;
    padding-top: 10px;
}


/********************************************/


/*CONTACT PAGE */


/********************************************/

.contact-info {
    font-size: 0.9em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact-info a {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: block;
    margin: 0 0 10px;
    min-height: 20px;
    padding: 0 0 0 30px;
}

.contact-info li.mail a {
    background-image: url('../img/gmail.png')
}

#contact-footer {
    float: left;
}


/********************************************/


/*MEDIA QUERIES */


/********************************************/


/*TWO COLUMMN LAYOUT*/

@media screen and (min-width: 480px) {
    #primary {
        width 50%;
        float: left;
    }
    #secondary {
        float: right;
        width: 50%;
    }
    /*THREE COLUMMN LAYOUT*/
    #gallery li {
        width: 28.3333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
    /*ABOUT PAGE*/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px) {
    /*NAV*/
    nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}